<h3>Best Breweries</h3>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Brewery</th>
      <th>Average</th>
    </tr>
  </thead>
  <tbody>
    <% breweries.each do |brewery| %>
      <tr>
        <td><%= brewery.name %></td>
        <td><%= brewery.average_rating %></td>
      </tr>
    <% end %>
  </tbody>
</table>