
<h3>Name:</h3>
<%= @style.name %>

<h3>Description:</h3>
<%= @style.description%>

<h3>Beers:</h3>
<% if @style.beers.any? %>
  <ul>
    <% @style.beers.each do |beer| %>
      <li><%= beer.name %></li>
    <% end %>
  </ul>
<% else %>
  <p>No beers found with this style.</p>
<% end %>

<% if current_user %>
  <%= edit_and_destroy_buttons(@style) %>
<% end %>