<div id="<%= dom_id brewery %>">
  <p>
    <h2><%= link_to brewery.name, brewery %></h2>
  </p>

  <p>
    <i>Established in:</i>
    <i><%= brewery.year %></i>
  </p>

  <p>
  Number of Beers: <%= @brewery.beers.count %>
  </p>


</div>
